
.reveal .slides ul li{
  padding:20px 30px;
  border-radius:10px;
}
.reveal .slides{
  background:rgba(0,0,0,.7);
  border-radius:10px;
}
.reveal .slides  section{
  padding:0;
  margin:0;
  margin-top:-10px!important;
}
.red{
  background: #F44336;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}

.orange{
  background:#FF5722;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}

.yellow{
  background:#FFEB3B;
  box-shadow:0 0 10px rgba(0,0,0,.4);
  color:#555;
}
.green{
  background:#4CAF50;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}
.blue{
  background:#2196F3;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}
.purple{
  background:#AB47BC;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}
.gray{
  background:#555;
  box-shadow:0 0 10px rgba(0,0,0,.4);
}
.amber{
  background:#FFB300;
  
}
.ins{
  font-size:50px;
  padding: 20px 35px ;
  font-weight: bold ;
  border-radius:500px;
  
}


.reveal .slides section form{
  background:#fff;
  width:900px;
  margin :0 auto ;
  border-radius:20px;
  overflow: hidden ;
  transform:scale(0.8,0.8);
}
.reveal .slides section form h3{
  background:#FFB300;
  padding:25px;
  margin:0;
  color:#fff;
} 
.reveal .slides section form ul{
  
  list-style: none;
  margin:0;
  padding:30px;
  display:block;
} 

.reveal .slides section form ul li{
  border:3px solid rgba(0,0,0,.4);
  margin:0;
  border-radius:500px;
  padding:25px;
  transition:all 0.3s ease-in;
}
.reveal .slides section form ul li a{
  position: relative ;
  color:#777;
  top:-12px;
}
.reveal .slides section form ul li a i{
  color:rgba(0,0,0,.7);
  font-size:50px;
  position: relative ;
  top:12px;
  padding:20px;
  border-radius:100%;
  margin-right:20px;
  border:5px solid rgba(0,0,0,.7);
  font-weight: bold ;
  background:#fff;
} 


.reveal .slides section form ul .check{
  border-color:#8BC34A;
  background: #8BC34A;
}
.reveal .slides section form ul .check a i{
  color:#8BC34A;
  border-color:transparent;
}
.reveal .slides section form ul .check a{
  color:#fff;
}
 
 
.reveal .slides section form ul .checkOff{
  border-color:#C5E1A5;
  background: #C5E1A5;
}
.reveal .slides section form ul .checkOff a i{
  background:#C5E1A5;
  border-color:#fff;
  color:#fff;
}
.reveal .slides section form ul .checkOff a{
  color:#fff;
}
  
.reveal .slides section form ul .bad{
  border-color:#EF5350;
  background: #EF5350;
}
.reveal .slides section form ul .bad a i{
  color:#EF5350;
  border-color:transparent;
}
.reveal .slides section form ul .bad a{
  color:#fff;
}
 
 
   
.reveal .slides section form ul .badOff{
  border-color:rgba(0,0,0,.4);
  background: #fff;
}
.reveal .slides section form ul .badOff a i{
  color:#E57373;
  border-color:#E57373;
}
.reveal .slides section form ul .badOff a{
  color:#777;
}


 
.reveal .slides section form ul li:nth-child(2){
  margin:30px 0;
}